h1 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p.passwordoutput {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}

body {
	text-align: center;
	background-color: #CCBA95;
	background-image: url("images/cats1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: right;
}